In [3]:
import pandas as pd
import numpy as np
import datetime

In [4]:
# Load Dataset with all columns
# Making the data columns datetime objects with the parse_dates attribute
bikeshare= pd.read_csv('/Users/matthewcassi/Documents/Bike-Sharing-Dataset/less_bikeshare_lat_lon.csv', 
                        parse_dates=['Start date', 'End date', 'start_date_short', 'end_date_short'])
# Removing the Unnamed column
bikeshare.drop('Unnamed: 0', 1, inplace=True)

In [5]:
bikeshare.head()

,Start date,End date,start_station,start_station_code,end_station,end_station_code,Member Type,start_date_short,end_date_short,time_diff,...,workingday,weathersit,temp,hum,windspeed,start_lat,start_lon,end_lat,end_lon,miles
0,2011-03-31 23:58:00,2011-04-01 00:00:00,14th & Harvard St NW,31105.0,16th & Harvard St NW,31103.0,Registered,2011-03-31,2011-04-01,1.833,...,1,3,0.268333,0.918333,0.217646,38.926800,-77.032200,38.926088,-77.036536,0.238743
1,2011-03-31 23:47:00,2011-03-31 23:50:00,Lincoln Park / 13th & East Capitol St NE,31619.0,13th & H St NE,31611.0,Registered,2011-03-31,2011-03-31,3.317,...,1,3,0.268333,0.918333,0.217646,38.890461,-76.988355,38.900022,-76.988422,0.659533
2,2011-03-31 23:45:00,2011-03-31 23:50:00,14th & R St NW,31202.0,Massachusetts Ave & Dupont Circle NW,31200.0,Registered,2011-03-31,2011-03-31,5.733,...,1,3,0.268333,0.918333,0.217646,38.912939,-77.032085,38.910100,-77.044400,0.691996
3,2011-03-31 23:34:00,2011-03-31 23:43:00,Park Rd & Holmead Pl NW,31602.0,15th & P St NW,31201.0,Registered,2011-03-31,2011-03-31,8.700,...,1,3,0.268333,0.918333,0.217646,38.930800,-77.031500,38.909850,-77.034438,1.453796
4,2011-03-31 23:31:00,2011-03-31 23:39:00,37th & O St NW / Georgetown University,31236.0,21st & M St NW,31212.0,Registered,2011-03-31,2011-03-31,7.850,...,1,3,0.268333,0.918333,0.217646,38.907740,-77.071652,38.905340,-77.046774,1.351053

In [6]:
bikeshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1219847 entries, 0 to 1219846
Data columns (total 24 columns):
Start date            1219847 non-null datetime64[ns]
End date              1219847 non-null datetime64[ns]
start_station         1219847 non-null object
start_station_code    939364 non-null float64
end_station           1219847 non-null object
end_station_code      939364 non-null float64
Member Type           1219847 non-null object
start_date_short      1219847 non-null datetime64[ns]
end_date_short        1219847 non-null datetime64[ns]
time_diff             1219847 non-null float64
season                1219847 non-null int64
mnth                  1219847 non-null int64
holiday               1219847 non-null int64
weekday               1219847 non-null int64
workingday            1219847 non-null int64
weathersit            1219847 non-null int64
temp                  1219847 non-null float64
hum                   1219847 non-null float64
windspeed             1219847 non-null float64
start_lat             1219847 non-null float64
start_lon             1219847 non-null float64
end_lat               1219847 non-null float64
end_lon               1219847 non-null float64
miles                 1219847 non-null float64
dtypes: datetime64[ns](4), float64(11), int64(6), object(3)
memory usage: 223.4+ MB

In [31]:
bikeshare['time'] = [datetime.time(d.hour, d.minute, d.second) for d in bikeshare['Start date']]

In [32]:
bikeshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1219847 entries, 0 to 1219846
Data columns (total 25 columns):
Start date            1219847 non-null datetime64[ns]
End date              1219847 non-null datetime64[ns]
start_station         1219847 non-null object
start_station_code    939364 non-null float64
end_station           1219847 non-null object
end_station_code      939364 non-null float64
Member Type           1219847 non-null object
start_date_short      1219847 non-null datetime64[ns]
end_date_short        1219847 non-null datetime64[ns]
time_diff             1219847 non-null float64
season                1219847 non-null int64
mnth                  1219847 non-null int64
holiday               1219847 non-null int64
weekday               1219847 non-null int64
workingday            1219847 non-null int64
weathersit            1219847 non-null int64
temp                  1219847 non-null float64
hum                   1219847 non-null float64
windspeed             1219847 non-null float64
start_lat             1219847 non-null float64
start_lon             1219847 non-null float64
end_lat               1219847 non-null float64
end_lon               1219847 non-null float64
miles                 1219847 non-null float64
time                  1219847 non-null object
dtypes: datetime64[ns](4), float64(11), int64(6), object(4)
memory usage: 232.7+ MB

In [33]:
bikeshare.head()

,Start date,End date,start_station,start_station_code,end_station,end_station_code,Member Type,start_date_short,end_date_short,time_diff,...,weathersit,temp,hum,windspeed,start_lat,start_lon,end_lat,end_lon,miles,time
0,2011-03-31 23:58:00,2011-04-01 00:00:00,14th & Harvard St NW,31105.0,16th & Harvard St NW,31103.0,Registered,2011-03-31,2011-04-01,1.833,...,3,0.268333,0.918333,0.217646,38.926800,-77.032200,38.926088,-77.036536,0.238743,23:58:00
1,2011-03-31 23:47:00,2011-03-31 23:50:00,Lincoln Park / 13th & East Capitol St NE,31619.0,13th & H St NE,31611.0,Registered,2011-03-31,2011-03-31,3.317,...,3,0.268333,0.918333,0.217646,38.890461,-76.988355,38.900022,-76.988422,0.659533,23:47:00
2,2011-03-31 23:45:00,2011-03-31 23:50:00,14th & R St NW,31202.0,Massachusetts Ave & Dupont Circle NW,31200.0,Registered,2011-03-31,2011-03-31,5.733,...,3,0.268333,0.918333,0.217646,38.912939,-77.032085,38.910100,-77.044400,0.691996,23:45:00
3,2011-03-31 23:34:00,2011-03-31 23:43:00,Park Rd & Holmead Pl NW,31602.0,15th & P St NW,31201.0,Registered,2011-03-31,2011-03-31,8.700,...,3,0.268333,0.918333,0.217646,38.930800,-77.031500,38.909850,-77.034438,1.453796,23:34:00
4,2011-03-31 23:31:00,2011-03-31 23:39:00,37th & O St NW / Georgetown University,31236.0,21st & M St NW,31212.0,Registered,2011-03-31,2011-03-31,7.850,...,3,0.268333,0.918333,0.217646,38.907740,-77.071652,38.905340,-77.046774,1.351053,23:31:00

In [44]:
rush1 = datetime.time(5,59,59)
rush2 = datetime.time(9,30,0)
rush3 = datetime.time(3,59,59)
rush4 = datetime.time(6,30,0)

In [ ]:
print(rush4)
print(type(rush4))

In [83]:
def rush(val):
    value = 0
    if (val['workingday'] == 1):
        if(((val['time'] > rush1) & (val['time'] < rush2)) | ((val['time'] > rush3) & (val['time'] < rush4))):
            value = 1
        else:
            value = 0
    else:
        value = 0
    return value

In [84]:
bikeshare['rush_hour'] = bikeshare.apply(rush, axis=1)

In [ ]:
sum(bikeshare['rush_hour'])

In [53]:
sum(bikeshare[bikeshare['workingday'] == 0]['rush_hour'])

20093

In [51]:
sum(bikeshare['rush_hour'])

215167

In [71]:
type(bikeshare.iloc[1, 24])

datetime.time

In [85]:
sum(bikeshare['rush_hour'])

195074

In [86]:
bikeshare = bikeshare.drop('time', 1)

195074

In [87]:
bikeshare.to_csv('rush_hour.csv')