In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime 
import seaborn as sns
%matplotlib inline

In [2]:
# Load Dataset with all columns
# Making the data columns datetime objects with the parse_dates attribute
bikeshare_machine = pd.read_csv('/Users/matthewcassi/Documents/Bike-Sharing-Dataset/less_bikeshare_lat_lon.csv', 
                        parse_dates=['Start date', 'End date', 'start_date_short', 'end_date_short'])
# Removing the Unnamed column
bikeshare_machine.drop('Unnamed: 0', 1, inplace=True)

In [3]:
bikeshare_machine.head()

,Start date,End date,start_station,start_station_code,end_station,end_station_code,Member Type,start_date_short,end_date_short,time_diff,...,workingday,weathersit,temp,hum,windspeed,start_lat,start_lon,end_lat,end_lon,miles
0,2011-03-31 23:58:00,2011-04-01 00:00:00,14th & Harvard St NW,31105.0,16th & Harvard St NW,31103.0,Registered,2011-03-31,2011-04-01,1.833,...,1,3,0.268333,0.918333,0.217646,38.926800,-77.032200,38.926088,-77.036536,0.238743
1,2011-03-31 23:47:00,2011-03-31 23:50:00,Lincoln Park / 13th & East Capitol St NE,31619.0,13th & H St NE,31611.0,Registered,2011-03-31,2011-03-31,3.317,...,1,3,0.268333,0.918333,0.217646,38.890461,-76.988355,38.900022,-76.988422,0.659533
2,2011-03-31 23:45:00,2011-03-31 23:50:00,14th & R St NW,31202.0,Massachusetts Ave & Dupont Circle NW,31200.0,Registered,2011-03-31,2011-03-31,5.733,...,1,3,0.268333,0.918333,0.217646,38.912939,-77.032085,38.910100,-77.044400,0.691996
3,2011-03-31 23:34:00,2011-03-31 23:43:00,Park Rd & Holmead Pl NW,31602.0,15th & P St NW,31201.0,Registered,2011-03-31,2011-03-31,8.700,...,1,3,0.268333,0.918333,0.217646,38.930800,-77.031500,38.909850,-77.034438,1.453796
4,2011-03-31 23:31:00,2011-03-31 23:39:00,37th & O St NW / Georgetown University,31236.0,21st & M St NW,31212.0,Registered,2011-03-31,2011-03-31,7.850,...,1,3,0.268333,0.918333,0.217646,38.907740,-77.071652,38.905340,-77.046774,1.351053

In [10]:
casual = bikeshare_machine[bikeshare_machine['Member Type'] == 'Casual']
casual = casual.drop('Member Type', 1)
casual.head()

,Start date,End date,start_station,start_station_code,end_station,end_station_code,start_date_short,end_date_short,time_diff,season,...,workingday,weathersit,temp,hum,windspeed,start_lat,start_lon,end_lat,end_lon,miles
14,2011-03-31 23:12:00,2011-03-31 23:26:00,14th & Rhode Island Ave NW,31203.0,Adams Mill & Columbia Rd NW,31104.0,2011-03-31,2011-03-31,14.233,2,...,1,3,0.268333,0.918333,0.217646,38.908600,-77.032300,38.922925,-77.042581,1.132879
19,2011-03-31 23:03:00,2011-03-31 23:15:00,North Capitol St & F St NW,31624.0,18th & M St NW,31221.0,2011-03-31,2011-03-31,11.550,2,...,1,3,0.268333,0.918333,0.217646,38.897446,-77.009890,38.905067,-77.041779,1.797471
21,2011-03-31 23:01:00,2011-03-31 23:31:00,Convention Center / 7th & M St NW,31223.0,C & O Canal & Wisconsin Ave NW,31225.0,2011-03-31,2011-03-31,30.650,2,...,1,3,0.268333,0.918333,0.217646,38.905737,-77.022270,38.903750,-77.062690,2.182915
22,2011-03-31 22:59:00,2011-03-31 23:06:00,20th St & Florida Ave NW,31110.0,21st & M St NW,31212.0,2011-03-31,2011-03-31,7.283,2,...,1,3,0.268333,0.918333,0.217646,38.915400,-77.044600,38.905340,-77.046774,0.703768
25,2011-03-31 22:52:00,2011-03-31 23:06:00,14th & R St NW,31202.0,Calvert St & Woodley Pl NW,31106.0,2011-03-31,2011-03-31,13.200,2,...,1,3,0.268333,0.918333,0.217646,38.912939,-77.032085,38.923583,-77.050046,1.214878

In [11]:
casual.to_csv('casual.csv')

In [12]:
registered = bikeshare_machine[bikeshare_machine['Member Type'] == 'Registered']
registered = registered.drop('Member Type', 1)
registered.head()

,Start date,End date,start_station,start_station_code,end_station,end_station_code,start_date_short,end_date_short,time_diff,season,...,workingday,weathersit,temp,hum,windspeed,start_lat,start_lon,end_lat,end_lon,miles
0,2011-03-31 23:58:00,2011-04-01 00:00:00,14th & Harvard St NW,31105.0,16th & Harvard St NW,31103.0,2011-03-31,2011-04-01,1.833,2,...,1,3,0.268333,0.918333,0.217646,38.926800,-77.032200,38.926088,-77.036536,0.238743
1,2011-03-31 23:47:00,2011-03-31 23:50:00,Lincoln Park / 13th & East Capitol St NE,31619.0,13th & H St NE,31611.0,2011-03-31,2011-03-31,3.317,2,...,1,3,0.268333,0.918333,0.217646,38.890461,-76.988355,38.900022,-76.988422,0.659533
2,2011-03-31 23:45:00,2011-03-31 23:50:00,14th & R St NW,31202.0,Massachusetts Ave & Dupont Circle NW,31200.0,2011-03-31,2011-03-31,5.733,2,...,1,3,0.268333,0.918333,0.217646,38.912939,-77.032085,38.910100,-77.044400,0.691996
3,2011-03-31 23:34:00,2011-03-31 23:43:00,Park Rd & Holmead Pl NW,31602.0,15th & P St NW,31201.0,2011-03-31,2011-03-31,8.700,2,...,1,3,0.268333,0.918333,0.217646,38.930800,-77.031500,38.909850,-77.034438,1.453796
4,2011-03-31 23:31:00,2011-03-31 23:39:00,37th & O St NW / Georgetown University,31236.0,21st & M St NW,31212.0,2011-03-31,2011-03-31,7.850,2,...,1,3,0.268333,0.918333,0.217646,38.907740,-77.071652,38.905340,-77.046774,1.351053

In [13]:
registered.to_csv('registered.csv')

In [14]:
casual.shape

(203626, 23)

In [15]:
registered.shape

(1016221, 23)